@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

html {
  overflow-y: scroll;
}
body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #616473;
  background-color: #fff;
  margin: 0 0 0 calc(100vw - 100%);
}
